body {
  background-color: #fd7e14;
}

.titleBanner {
  color: rgb(255, 255, 255);
  display: block;
  font-family: "Google Sans", sans-serif;
  font-size: 52px;
  font-stretch: normal;
  font-style: normal;
  font-variant-caps: normal;
  font-weight: 500;
  height: 120px;
  letter-spacing: normal;
  line-height: 60px;
  margin-block-end: 24px;
  margin-block-start: 24px;
  margin-inline-end: 0;
  margin-inline-start: 0;
  margin: 24px 0;
  max-width: 1000px;
}

.calendarCustom {
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}