body {
  background-color: #ffffff;
}

.helloText {
  color: rgb(75, 75, 75);
  font-family: "Varela Round", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  font-style: normal;
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.titleBanner {
  color: rgb(131, 131, 131);
  font-family: "Varela Round", sans-serif;
  font-size: 35px;
  font-weight: bolder;
  font-style: normal;
  margin-left: 25px;
}

.calendarCustom {
  box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}